

<ion-row class="popoverList">
	<ion-col class="ion-no-padding">
		<ion-item (click)="close('add')" class="ion-no-padding" lines="none" >
			<ion-icon (click)="close('edit')" sslot="start" name="add"></ion-icon>
			<ion-label>
				<h2>Add Charger</h2>
				<p class="ion-text-wrap">Please add your charger details</p>
			</ion-label>
		</ion-item>
	</ion-col>
</ion-row>