<ion-content>
	<div class="gradientBg">
		<ion-header mode="md" class="ion-no-padding">
			<ion-toolbar color="transparent">
				<ion-title> </ion-title>
				<ion-buttons slot="start">
					<ion-back-button color="light" defaultHref></ion-back-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
	</div>



	<ion-card-content class="borderCard" style="margin-top: 80px;" mode="md">
		<ion-title class="cardheading" mode="md">Add Charger</ion-title>
		<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
			<ion-item lines="none" class="ion-no-padding" color="transparent">
				<ion-label mode="md" position="stacked" class="inputlbl">Name</ion-label>
				<ion-input placeholder="Enter your name" formControlName="name" type="text"></ion-input>
			</ion-item>
			<span class="error" *ngIf="isSubmitted && errorControl.name.errors?.required">
				Name is required.
			</span>
			<span class="error" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
				Name should be min 2 chars long.
			</span>
			<ion-item lines="none" class="ion-no-padding" color="transparent">
				<ion-label mode="md" position="stacked" class="inputlbl">Email</ion-label>
				<ion-input placeholder="Enter your email" formControlName="email" type="email"></ion-input>
			</ion-item>
			<span class="error" *ngIf="isSubmitted && errorControl.email.errors?.required">
				Email is required.
			</span>
			<span class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
				Please provide valid email id.
			</span>
			<ion-item lines="none" class="ion-no-padding" color="transparent">
				<ion-label mode="md" position="stacked" class="inputlbl">Mobile</ion-label>
				<ion-input placeholder="Enter your number" maxlength="10" formControlName="mobile" type="text" required></ion-input>
			</ion-item>
			<span class="error" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
				Mobile number is required.
			</span>
			<span class="error" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
				Only numerical values allowed.
			</span>
			<ion-item lines="none" class="ion-no-padding" color="transparent">
				<ion-label mode="md" position="stacked" class="inputlbl">Address</ion-label>
				<ion-input placeholder="Enter your full address" formControlName="address" type="text" required></ion-input>
			</ion-item>
			<span class="error" *ngIf="isSubmitted && errorControl.address.errors?.required">
				Address is required.
			</span>
			<ion-button type="submit" class="cardBtn" color="primary" expand="block">Submit</ion-button>
		</form>
	</ion-card-content>
</ion-content>




<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add Charger</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<!-- 
<ion-content>




  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Name is required.
    </span>
    <span class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
      Name should be min 2 chars long.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span>


    <ion-item lines="full">
      <ion-label position="floating">Mobile</ion-label>
      <ion-input maxlength="10" formControlName="mobile" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
      Mobile number is required.
    </span>
    <span class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
      Only numerical values allowed.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Address</ion-label>
      <ion-input  formControlName="address" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" style="color: red;" *ngIf="isSubmitted && errorControl.address.errors?.required">
      Address is required.
    </span>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>






</ion-content> -->

