<!-- <ion-content class="ion-padding">
  <div class="ion-text-center margintop1">
    <img src="../../assets/icon/logo-2.png" height="100" width="100" alt="" />
  </div>
  <ion-text>
    <div class="logintitle">
      <h1>World's largest network of</h1>
      <h1 class="logintext">electric vehicle (EV) charging station</h1>
    </div>
  </ion-text>
  <div class="loginbuttons">
    <p>Get started by logging into your account.</p>
    <ion-item lines="none" style="border-radius: 7px;border: 1px solid var(--ion-color-primary);margin: 4%;">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="number" [(ngModel)]="number"></ion-input>
    </ion-item>
    <div style="margin-top: 8%; margin: 5%" class="ion-text-center">
      <ion-button (click)="sendOtp()" shape="round" style="width: 50%">
        Get OTP
      </ion-button>
    </div>
    <div *ngIf="show">
      <ion-item lines="none"style="border-radius: 7px;border: 1px solid var(--ion-color-primary);margin: 4%;">
        <ion-label position="floating">OTP</ion-label>
        <ion-input type="number" [(ngModel)]="otp"></ion-input>
      </ion-item>
      <div style="margin-top: 8%; margin: 5%" class="ion-text-center">
        <ion-button (click)="login()" shape="round" style="width: 50%">
          Login
        </ion-button>
      </div>
    </div>
  </div>
  <div class="loginbottom">
    <ion-row>
      <img src="../../assets/icon/loginimg.png" width="100%" alt="" />
    </ion-row>
  </div>
</ion-content>  -->

<ion-content>
	<div class="gradientBg"></div>
	<ion-card-content class="shadowCard centerCard">
		<div class="ion-text-center logo"><img src="../../assets/img/logo.svg" width="220" alt="Company Logo" /></div>
		<p class="ion-text-center"><ion-text class="heading">Get started by logging into your account.</ion-text></p>
		<div class="loginBlock" *ngIf="showLoginBlock">
			<ion-row>
				<ion-col size="12">
					<ion-item lines="none" class="ion-no-padding" color="transparent">
						<ion-label mode="md" position="stacked" class="inputlbl">Mobile Number</ion-label>
						<ion-input ype="tel" inputmode="numeric" maxLength="10"  placeholder="10 Digit Mobile Number" [(ngModel)]="number"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row class="ion-margin-vertical">
				<ion-col size="12">
					<ion-button (click)="sendOtp()" class="height" color="primary" expand="block" fill="outline">Get OTP</ion-button> 
				</ion-col>
			</ion-row>
		</div>
		<div class="OtpBlock" *ngIf="show">
			<ion-row>
				<ion-col size="12">
					<ion-item lines="none" class="ion-no-padding" color="transparent">
						<ion-label position="stacked" mode="md" class="inputlbl">Enter OTP</ion-label>
						<ion-input class="otpno" placeholder="Enter 6 Digit Number" type="tel" inputmode="numeric" maxLength="6" [(ngModel)]="otp"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
      <div class="ion-text-right"> 
        <ion-text color="danger" (click)="dintgetOtp()">Didn't get otp?</ion-text> 
      </div>
			<ion-row class="ion-margin-vertical">
				<ion-col size="12">
					<ion-button (click)="login()" class="height" color="primary" expand="block" fill="outline">Login</ion-button> 
				</ion-col>
			</ion-row>
		</div>
	</ion-card-content>
</ion-content>