ion-fab{
    bottom:25px;box-shadow:0px 0px #e1e1e1, 0px -5px #e1e1e1, 0px 0px #e1e1e1;
     -webkit-box-shadow:0px 0px #e1e1e1, 0px -5px #e1e1e1, 0px 0px #e1e1e1;
      -moz-box-shadow:0px 0px #e1e1e1, 0px -5px #e1e1e1, 0px 0px #e1e1e1;
    border-radius: 50%;border:7px solid #fff
}

ion-tab-button a{
    padding-inline-start: 0;padding-inline-end:0
}
.bottomToolbar ion-tab-bar:after {content: "";position: absolute;top: -92px;left: 0;z-index: 999;height: 100px;width: 93px;}