
<ion-tabs class="bottomToolbar">
  <img src="assets/img/toolbaricons/bottomcurve.svg" alt="Curve Image" width="70px" style="position: absolute;bottom:70px;left:0">
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button color="primary" (click)="scan()">
        <img src="assets\img\toolbaricons\scanner.svg" width="25px" alt="Scanner Icon" />
      
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="ion-no-padding">
      <img src="assets\img\toolbaricons\home.svg" alt="Home Icon" />
      <span>Home</span>
    </ion-tab-button>
    <ion-tab-button tab="charging" class="comments ion-no-padding">
      <img src="assets\img\toolbaricons\charge.svg" alt="Charger Icon" />
      <span> Charging</span>
    </ion-tab-button>
    <ion-tab-button></ion-tab-button>
    <ion-tab-button tab="wallet" class="notifs ion-no-padding">
      <img src="assets\img\toolbaricons\history.svg" alt="History Icon" />
      <span>History</span>
    </ion-tab-button>
    <ion-tab-button tab="device" class="ion-no-padding" *ngIf="!service.isUser">
        <img src="assets\img\toolbaricons\account.svg" alt="User Icon" />
      <span>Host</span>
    </ion-tab-button>
    <ion-tab-button tab="user" class="ion-no-padding" *ngIf="service.isUser">
      <img src="assets\img\toolbaricons\account.svg" alt="User Icon" />
      <span> User</span>
    </ion-tab-button>
  </ion-tab-bar>
  <img src="assets/img/toolbaricons/bottomcurve.svg" alt="Curve Image" width="70px" style="position: absolute;bottom:70px;right:0;transform:rotate3d(0, 1, 0, 180deg)">
</ion-tabs>
