<ion-content color="light">

  <div class="success_page" *ngIf="data == 'success'">
    <div class="wave"></div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
      <circle class="path circle success" fill="none" stroke="var(--ion-color-success)" stroke-width="6"
        stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
      <polyline class="path check" fill="none" stroke="var(--ion-color-light)" stroke-width="6" stroke-linecap="round"
        stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
    </svg>

    <ion-card-content mode="md" class="ion-text-center">
      <ion-card-title class="cardheading" color="primary">Transaction Success!</ion-card-title>
      <ion-card-subtitle>
        You have Successfully transferred
        <br />
        <br />
        <!-- <ion-label color="dark">&#8377; 250 </ion-label> -->
      </ion-card-subtitle>
      <ion-button color="primary" (click)="close" expand="block">Ok</ion-button>
    </ion-card-content>
  </div>

  <div class="error_page" *ngIf="data == 'fail'">
    <div class="wave"></div>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
      <circle class="path circle error" fill="none" stroke="var(--ion-color-danger)" stroke-width="6"
        stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
      <line class="path line" fill="none" stroke="var(--ion-color-light)" stroke-width="6" stroke-linecap="round"
        stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
      <line class="path line" fill="none" stroke="var(--ion-color-light)" stroke-width="6" stroke-linecap="round"
        stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
    </svg>

    <ion-card-content mode="md" class="ion-text-center">
      <ion-card-title class="cardheading" color="primary">Transaction Failed!</ion-card-title>
      <ion-card-subtitle>
        Sorry, we are unable to process your transfer
        <br />
        please try again later!!!
        <br />
        <br />
        <!-- <ion-label color="dark">&#8377; 250 </ion-label> -->
      </ion-card-subtitle>
      <ion-button (click)="close()" color="primary" expand="block">Ok</ion-button>
    </ion-card-content>
  </div>


</ion-content>