
ion-label{font-size: 35px;font-weight: 900}

svg {
    width: 50px;
    display: block;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.circle.error{
        fill:var(--ion-color-danger);
    }
    &.circle.success{
        fill:var(--ion-color-success);
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
  
  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  


  ion-content {
    position: relative;
    z-index: 1;
  
  .wave {
    width: 500px;
    height: 500px;
    position: absolute;
    top: -445px;
    margin-left: 0px;
    margin-top: 0;
    border-radius: 39%;
   
    -webkit-animation: wave 15s infinite linear;
    animation: wave 15s infinite linear;
    z-index: -1;
    left: -89px;
  }
  .success_page .wave{
    background: #ecfff3;
  }
  .error_page .wave{
    background: #ffecec;
  }
  
  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  }
  
}