// .menu-header-bg {
//   height: 180px;
//   width: 302px;
//   background: #f6f6f6;
//   box-shadow: 0px 1px 10px rgb(255 255 255 / 50%);
//   border-radius: 0px 0px 20px 20px;
//   margin-bottom: 30px;
//   border: none;
// }
// .gradientBg{
//   height: 180px;
// }
.header-content ion-label ion-icon{
  padding: 16px 0 0 16px;
}
 ion-menu{
   --width:100%;
   transition:all 0.3s ease-in;
 }
ion-content{
  --ion-background-color:#8FC522;  
transition:all 0.3s ease-in;
}

// .menu-content-open {
// transform:translate3d(79%,0,0) scale(0.9, 0.9) !important;
// -webkit-transform:translate3d(79%,0,0) scale(0.9, 0.9) !important;
// -moz-transform:translate3d(79%,0,0) scale(0.9, 0.9) !important;
// box-shadow:none;
// }
ion-footer{
  position: absolute;bottom:10px;
  &:before{
    background:none;
  }
}
