app-device-on-map{
    background: transparent;overflow: visible !important;
}
.price{position: absolute;top: 50%;background: var(--ion-color-warning);right: -20px;border-radius: 50%;padding: 11px 23px 12px 11px;transform: translateY(-50%);z-index: 1;text-align: right;
    span{font-weight: 800;color: var(--ion-color-dark);font-size: 18px;} 
}
ion-card{box-shadow:none}
h4{margin: 0;font-weight: 800;color: var(--ion-color-dark);}
.val{margin:0}
ion-thumbnail{width:30px;height:30px;
    img{width: 20px;height: 30px;}
}
