<div class="price">
	<span>
		<small>&#8377;</small> {{data.RATE}} </span>
	<br>
	<small>Watt</small>
</div>
<ion-card mode="md">

	<ion-grid>
		<ion-row class="ion-align-items-start">
			<ion-col size="9">
				<h4>{{data.DeviceID}}</h4>
				<p class="lbl ion-text-wrap" style="min-height:26px;">{{data.location}}</p>
			</ion-col>
			<ion-col size="3" class="ion-text-center">
				<ion-button (click)="navTodevice()" expand="block" color="danger" size="small"> Navigate </ion-button>
			</ion-col>
		</ion-row>
		<ion-row class="ion-no-margin ion-align-items-end">
			<ion-col size="6" class="ion-no-padding">
				<ion-item color="transparent" lines="none">
					<ion-thumbnail slot="start" class="ion-no-margin" *ngIf="data.PLUGUSED!=true">
						<img src="assets/img/toolbaricons/port.svg" alt="Port Icon" />
					</ion-thumbnail>
					<ion-thumbnail slot="start" class="ion-no-margin" *ngIf="data.PLUGUSED==true">
						<img src="assets/img/toolbaricons/port-g.svg" alt="Port Icon" />
					</ion-thumbnail>
					<h5>
						<div class="lbl">Plug 1</div>
						<p class="val" *ngIf="data.PLUGUSED!=true">In Use</p>
						<p class="val" *ngIf="data.PLUGUSED==true">Vacant</p>
					</h5>
				</ion-item>
			</ion-col>
			<ion-col size="6" class="ion-no-padding">
				<!-- <ion-icon name="football-outline" color="medium"></ion-icon>
				<div class="lbl">Plug 1</div>
				<p class="val" *ngIf="data.PLUG2USED!=true">In Use</p>
				<p class="val" *ngIf="data.PLUG2USED==true">Vacant</p> -->
				<ion-item color="transparent" lines="none">
					<ion-thumbnail slot="start" class="ion-no-margin" *ngIf="data.PLUG2USED!=true">
						<img src="assets/img/toolbaricons/port.svg" alt="Port Icon" />
					</ion-thumbnail>
					<ion-thumbnail slot="start" class="ion-no-margin" *ngIf="data.PLUG2USED==true">
						<img src="assets/img/toolbaricons/port-g.svg" alt="Port Icon" />
					</ion-thumbnail>
					<h5>
						<div class="lbl">Plug 2</div>
						<p class="val" *ngIf="data.PLUG2USED!=true">In Use</p>
						<p class="val" *ngIf="data.PLUG2USED==true">Vacant</p>
					</h5>
				</ion-item>
			</ion-col>
		</ion-row>
		<!-- <ion-row class="ion-no-margin ion-align-items-end">
			<ion-col size="4">
				<ion-button (click)="navTodevice()" expand="block" color="danger" size="small">Navigate</ion-button>
			</ion-col>
		</ion-row> -->
	</ion-grid>
</ion-card>
<!-- <ion-card-content>
</ion-content> 
 <ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Device Data</ion-title>
    <ion-buttons slot="end">
      <ion-button style="zoom: 130%" (click)="close()">
        <ion-icon color="danger" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card-content>
    <ion-card-subtitle class="ion-text-wrap">Device ID : {{data.DeviceID}} </ion-card-subtitle>
  </ion-card-content>
  <ion-card-content>
    <ion-card-subtitle class="ion-text-wrap">Location : {{data.location}}
    </ion-card-subtitle>
  </ion-card-content>
  <ion-card-content>
    <ion-card-subtitle class="ion-text-wrap" *ngIf="data.PLUGUSED!=true">Plug 1 : In Use</ion-card-subtitle>
    <ion-card-subtitle class="ion-text-wrap" *ngIf="data.PLUGUSED==true">Plug 1 : Vaccant</ion-card-subtitle>
  </ion-card-content>
  <ion-card-content>
    <ion-card-subtitle class="ion-text-wrap" *ngIf="data.PLUG2USED!=true">Plug 2 : In Use</ion-card-subtitle>
    <ion-card-subtitle class="ion-text-wrap" *ngIf="data.PLUG2USED==true">Plug 2 : Vaccant</ion-card-subtitle>
  </ion-card-content>
  <ion-card-content>
    <ion-card-subtitle class="ion-text-wrap">Rate : ₹ {{data.RATE}} Per Killo Watt </ion-card-subtitle>
  </ion-card-content>
  <ion-card-content>
    <ion-button (click)="navTodevice()" expand="block">
      Navigate To Device
    </ion-button>
  </ion-card-content>

</ion-content> -->