<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Lifi Tech</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content [color]="color">


  <!-- <div class="ion-text-center">
    {{time2}} {{color}}
  </div> -->
  <h2 *ngIf="show" class="ion-text-center">
    Please place your mobile screen near the sensor and wait for the beeping sound to stop</h2>
  <div id="countdown" *ngIf="show" class="ion-text-center" style="margin-top: 15%;">
  </div> 


  <!-- <div *ngIf="showButtons" style="margin-top: 5%;" class="ion-text-center">
    <img width="90%" style="border-radius: 7px;" src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2014/4/14/1397466981721/f7287ae5-2aa5-45a8-9e9b-7391f6efb892-2060x1236.jpeg?width=445&quality=45&auto=format&fit=max&dpr=2&s=6d4b28be883f650f1867b9dc4297057e" alt="">
  </div> -->




</ion-content>

<!-- <ion-footer class="ion-no-border" *ngIf="showButtons">
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="cancel()" color="danger" expand="block">
        Cancel
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="startFlash()" expand="block">
        Start
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->