ion-slides {
    height: 100%;
  }
  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    font-weight: bold;
    font-size: 26px;
    width: 80%;
    margin: 0 auto 20px;
  }

  .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    width: 400px;
    margin: 60px 0 40px;
    pointer-events: none;
  }
  ion-slides p {
    margin: 0 15%;
    opacity: 0.7;
    line-height: 25px;
}

