<!-- <ion-header>
  <ion-toolbar>
    <ion-title>slider</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<ion-slides [options]="slideOpts" mode='ios' pager='true'>
		<ion-slide>
			<div class="slide">
				<img src="assets/img/slider1.svg" alt="Slider 1" />
				<h2>Find Charging Stations
				</h2>
				<!-- <p>Lorem ipsum is the short-hand term for the most popular placeholder text in history.</p> -->
			</div>
			
		</ion-slide>
		<!-- <ion-slide>
			<img src="assets/img/slider2.svg" alt="Slider 2" />
			<h2>Select Compatible Port and Book Slot</h2>
			<p>Lorem ipsum is the short-hand term for the most popular placeholder text in history.</p>
		
		</ion-slide> -->
		<ion-slide>
			<img src="assets/img/slider3.svg" alt="Slider 3" />
			<h2>Charge your Electric Vehicle and Pay</h2>
			<!-- <p>Lorem ipsum is the short-hand term for the most popular placeholder text in history.</p> -->
			<ion-card-content class="bottomNavigation">
				<ion-row>
					<ion-col size="12" class="ion-text-left">
						<ion-button routerLink="/login" color="primary" expand="block" fill="clear">Get Started</ion-button> 
					</ion-col>	
				</ion-row>
			</ion-card-content>
		</ion-slide>
	</ion-slides>
</ion-content>