// ion-card {
//     border-radius: 10px !important;
//     box-shadow: rgb(0 0 0 / 5%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
//       rgb(0 0 0 / 12%) 0px 1px 5px 0px;
//   }
  
//   .itemclass {
//     // --background: rgb(243, 243, 243);
//     // margin-top: -4%;
//   }
  
//   .devicediv {
//     --ion-item-background: #6a981c;
//     margin: 10px 10px;
//     border-radius: 10px;
//   }
  
//   .userimg {
//     text-align: center;
//     margin: 0px auto;
//     color: #fff;
//     padding: 10px;
//     line-height: 25px;
//   }
  
//   .userimg img {
//     border-radius: 50%;
//     border: 1px solid #fff;
//     height: 80px;
//     width: 80px;
//     box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
//       rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
//   }
  
//   ion-thumbnail {
//     margin: 0px auto 10px auto;
//     text-align: center;
//     display: contents;
//   }
  
//   h2 {
//     color: #6a981c;
//   }
  
//   // ion-card {    margin-bottom: 15px;
//   //     background-color: #ffffff; box-shadow: rgb(0 0 0 / 5%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;}
  
//   ion-card-content {
//     --ion-background-color: #ffffff;
//   }
//   .deviceicon {
//     margin-right: 15px;
//     background-color: #d8d8d8;
//     border-radius: 50%;
//     padding: 10px;
//   }
  
//   ion-label {
//     margin: 0px;
//     font-size: 15px !important;
//   }
//   .itemclass ion-label {
//     color: #1d1d1d !important;
//   }
  
//   .w50 {
//     width: 45%;
//     float: left;
//   }
//   .w55 {
//     width: 55%;
//     float: left;
//   }
  
//   .listicon {
//     margin-right: 10px;
//   }
  
//   ion-list {
//     background-color: #ffffff;
//     margin-bottom: 10px;
//     border-radius: 10px;
//     box-shadow: rgb(0 0 0 / 5%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
//       rgb(0 0 0 / 12%) 0px 1px 5px 0px;
//   }
  
//   .history {
//     box-shadow: none;
//   }
  
//   .historytext {
//     font-size: 15px;
//     color: #86979f;
//   }
  
//   .view {
//     font-size: 16px;
//   }
//   .w50 h2 {
//     color: #1d1d1d;
//     font-size: 14px;
//   }
//   .w55 h2 {
//     color: #1d1d1d;
//     font-size: 14px;
//   }
//   .w50 p {
//     font-size: 13px;
//   }
//   .w55 p {
//     font-size: 13px;
//   }
  
//   ion-card-header {
//     background-color: #ffffff;
//   }
  
//   ion-icon {
//     color: #4a4b4d;
//   }
//   ion-item {
//     border-bottom: 1px dotted #e2dede;
//     line-height: 45px;
//   }
  
//   ion-toolbar {
//     --ion-background-color: #ffffff;
//     --ion-color-base: #ffffff !important;
//   }
  
//   ion-toolbar ion-title {
//     color: #1d1d1d !important;
//     font-weight: 500;
//   }
  
//   ion-toolbar ion-note {
//     color: #ffffff !important;
//     font-weight: 500;
//   }
  
//   @media only screen and (max-width: 360px) {
//     .w50 h2 {
//       font-size: 11px;
//     }
//     .w55 h2 {
//       font-size: 11px;
//     }
//     .w50 p {
//       font-size: 11px;
//     }
//     .w55 p {
//       font-size: 11px;
//     }
//   }
  