<ion-content>
	<div class="gradientBg">
		<ion-header mode="md">
			<ion-toolbar color="transparent">
				<ion-buttons slot="start">
					<ion-menu-button color="light"></ion-menu-button>
				</ion-buttons>
				<ion-title>My Devices</ion-title>
				<ion-buttons slot="end" class="ion-padding-end" (click)="EditDevices()">
					<ion-icon size="large" color="light" name="stats-chart" style="transform:rotate(-90deg) scale(0.7)"></ion-icon>
				</ion-buttons>

			</ion-toolbar>
		</ion-header>
	</div>
	<ion-card class="walletcard usercard" mode="md" style="margin-top: 80px;" >
		<div class="left-icon">
			<ion-avatar slot="start">
				<img src="assets/img/darkicons/account.svg" alt="User Profile Picture" />
			</ion-avatar>
		</div>
		<div class="right-data">
			<ion-label class="user">Owner
				<br />
				<small>{{ this.service.mobileNumber}}</small>
			</ion-label>
		</div>
	</ion-card>

	<ion-card-content class="borderCard" mode="md" *ngFor="let dev of service.devicesOwned">
		<ion-list class="transaction_history mydevices">
			<ion-item color="transparent" lines="none" class="cardheading ion-text-wrap ion-no-padding">{{dev.DeviceName}}
				<ion-icon (click)="edit(dev)" slot="end" name="ellipsis-vertical-outline"></ion-icon>
			</ion-item>
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/location.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>Device location</h3>
					<p class="ion-text-wrap">{{dev.location}}</p>
				</ion-label>
			</ion-item>
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/port.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>Port 1 Status</h3>
					<p *ngIf="dev.PORT1==true">Port 1 Status : Charging
					</p>
					<p *ngIf="dev.PORT1==false">Port 1 Status : Not Charging
					</p>
				</ion-label>
			</ion-item>
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/port.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>Port 2 Status</h3>
					<p *ngIf="dev.PORT1==true">Port 1 Status : Charging
					</p>
					<p *ngIf="dev.PORT1==false">Port 1 Status : Not Charging
					</p>
				</ion-label>
			</ion-item>
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/usage.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>Current Month Usage</h3>
					<p>
						<ion-text color="success"><strong>{{dev.TOTALC1}}kWh</strong></ion-text>
					</p>
				</ion-label>
			</ion-item>
			<ion-item color="transparent" lines="none">
				<ion-thumbnail slot="start">
					<img src="assets/img/blueicons/deposit.svg" alt="Icon" />
				</ion-thumbnail>
				<ion-label>
					<h3>Device Rate</h3>
					<p>
						<ion-text>₹ {{dev.PRICE | currency: '':''}}</ion-text>
					</p>
				</ion-label>
			</ion-item>
		</ion-list>

	</ion-card-content>

	<!--   
  <ion-item lines="none" color="transparent" class="ion-margin-vertical">
    <ion-avatar slot="start">
      <img src="assets/img/darkicons/account.svg" alt="User Profile Picture" />
    </ion-avatar>
    <ion-label class="user">Owner
      <br />
      <small>+91 986 236 2145</small>
    </ion-label>
   
  </ion-item> -->

	<!-- <div style="margin-top: 5%">
    <ion-item lines="none" class="ion-text-center devicediv">
      <div class="userimg">
        <ion-thumbnail slot="start">
          <img style="border-radius: 50%" src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-Image.png" />
        </ion-thumbnail>
        <ion-label>{{this.service.currentUser.displayName}}</ion-label>
        <ion-label>{{this.service.currentUser.email}}</ion-label>
      </div>
    </ion-item>
  </div> -->

	<!-- <div class="ion-text-center" class="ion-padding">
    <ion-button  expand="block"  shape="round">
      Add ₹ 10 
    </ion-button>
  </div> -->


	<!-- {{geolist | json}} -->

	<!-- <ion-card *ngFor="let item of geolist">
    <ion-label> administrativeArea : {{item.administrativeArea}} </ion-label> <br/>
    <ion-label> areasOfInterest : {{item.areasOfInterest}} </ion-label> <br/>
    <ion-label> countryCode : {{item.countryCode}} </ion-label><br/>
    <ion-label> countryName : {{item.countryName}} </ion-label><br/>
    <ion-label> latitude : {{item.latitude}} </ion-label><br/>
    <ion-label> locality : {{item.locality}} </ion-label><br/>
    <ion-label> longitude : {{item.longitude}} </ion-label><br/>
    <ion-label> postalCode : {{item.postalCode}} </ion-label><br/>
    <ion-label>
      subAdministrativeArea : {{item.subAdministrativeArea}}
    </ion-label><br/>
    <ion-label> subLocality : {{item.subLocality}} </ion-label><br/>
    <ion-label> subThoroughfare : {{item.subThoroughfare}} </ion-label><br/>
  </ion-card> -->

	<!-- <div style="padding-bottom: 15%;">
		<ion-card style="border-radius: 10px" *ngFor="let dev of service.devicesOwned">
			<ion-card-header style="padding: 5%">
				<ion-row>
					<ion-col size="10">
						<ion-card-title style="color: var(--ion-color-primary); font-weight: 600">{{dev.DeviceName}}</ion-card-title>
					</ion-col>
					<ion-col size="2" class="ion-text-right">
						<ion-icon (click)="edit(dev)" style="zoom: 180%;" name="ellipsis-vertical-outline"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-card-header>
			<ion-card-content class="ion-no-padding ion-no-margin">
				<ion-item lines="none" class="itemclass">
					<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/location-svgrepo-com.svg">
					</ion-icon>
					<ion-label class="ion-text-wrap">Device Location :
						<b>{{dev.location}}</b>
					</ion-label>
				</ion-item>
				<ion-item lines="none" class="itemclass">
					<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/full-battery-svgrepo-com.svg">
					</ion-icon>
					<ion-label *ngIf="dev.PORT1==true">Port 1 Status :
						<b>Charging</b>
					</ion-label>
					<ion-label *ngIf="dev.PORT1==false">Port 1 Status :
						<b>Not Charging</b>
					</ion-label>
				</ion-item>
				<ion-item lines="none" class="itemclass">
					<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/not-charging.svg"></ion-icon>
					<ion-label *ngIf="dev.PORT2==true">Port 2 Status :
						<b>Charging</b>
					</ion-label>
					<ion-label *ngIf="dev.PORT2==false">Port 2 Status :
						<b>Not Charging</b>
					</ion-label>
				</ion-item>
				<ion-item lines="none" class="itemclass">
					<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/usage.svg"></ion-icon>
					<ion-label>Current Month Usage :
						<b>{{dev.TOTALC1}}kWh</b>
					</ion-label>
				</ion-item>
				<ion-item lines="none" class="itemclass">
					<ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/earning.svg"></ion-icon>
					<ion-label>Device Rate :
						<b> ₹ {{dev.PRICE | currency: '':''}}</b>
					</ion-label>
				</ion-item>
			</ion-card-content>
		</ion-card>
	</div> -->



	<!-- <ion-card class="history">
   
    <ion-list-header style="padding: 5px">
      <ion-label class="historytext">History</ion-label>
      <ion-button (click)="showHistory()" *ngIf="!showList" class="view">View All</ion-button>
      <ion-button (click)="viewLess()" *ngIf="showList" class="view">View Less</ion-button>
    </ion-list-header>

    <ion-card-content class="ion-no-padding ion-no-margin" style="margin-bottom: 15%" *ngIf="showList">
      <ion-list *ngFor="let his of subList">
        <ion-item lines="none" class="w50">
          <ion-icon slot="start" class="listicon" color="primary" src="../../assets/icon/device.svg"></ion-icon>
          <ion-label>
            <h2>Device : {{his.Device}}</h2>
            <p>Date : {{his.DateTime | date}}</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none" class="w55">
          <ion-icon slot="start" class="listicon" color="primary" src="../../assets/icon/battery-charger.svg">
          </ion-icon>
          <ion-label>
            <h2>Total Consumption : {{his.TotalConsumption}}</h2>
            <p>Rate : ₹{{his.Rate}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" style="margin-bottom: 10%">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card-content>
  </ion-card> -->


</ion-content>