<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Edit Bank Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Ifsc Code</ion-label>
    <ion-input type="text" [(ngModel)]="ifsc" > </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Name of bank</ion-label>
    <ion-input type="text" [(ngModel)]="nameOfBank"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Location</ion-label>
    <ion-input type="text" [(ngModel)]="locationOfBank"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-input type="text" [(ngModel)]="locationOfCity"> </ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Account Number</ion-label>
    <ion-input type="number" [(ngModel)]="accNumber"> </ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Confirm Account Number</ion-label>
    <ion-input type="number" [(ngModel)]="confirmAccNumber"> </ion-input>
  </ion-item>



  <ion-item>
    <ion-label position="floating">Name On Bank</ion-label>
    <ion-input type="text" [(ngModel)]="nameOnbank"> </ion-input>
  </ion-item>


  <div class="ion-text-center" style="margin-top: 10%;">
    <ion-button (click)="submit()" style="width: 50%"> Submit </ion-button>
  </div>


</ion-content>
