// .devicediv {
//   --ion-item-background: #6a981c;
//   margin: 10px 10px;
//   border-radius: 10px;
// }

// .userimg {
//   // text-align: center;
//   // margin: 0px auto;
//   color: #fff;
//   padding: 15px;
//   line-height: 25px;
//   width: 100%;
// }

// .userimg h2 {
//   margin-top: 22px;
//   font-size: 20px;
// }

// .userimg img {
//   width: 80px;
//   float: left;
// }

// ion-thumbnail {
//   margin: 0px auto 0px auto;
//   text-align: center;
//   display: contents;
// }

// ion-card {
//   background-color: #ffffff;
//   border-radius: 10px;
//   margin: 10px 10px;
//   box-shadow: rgb(0 0 0 / 5%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px,
//     rgb(0 0 0 / 12%) 0px 1px 5px 0px;
// }
// ion-col {
//   background-color: #ffffff;
// }

// ion-item {
//   line-height: 25px;
//   background-color: #ffffff;
//   --ion-background-color: #ffffff;
//   // border-bottom: 1px solid #e2dede;
// }
// ion-label {
//   color: #1d1d1d !important;
//   font-size: 14px !important;
// }
// ion-icon {
//   margin-right: 10px;
//   background-color: #d8d8d8;
//   font-size: 22px;
//   border-radius: 50%;
//   padding: 8px;
//   color: #4a4b4d;
// }

// ion-label span {
//   color: #666666;
// }

// ion-toolbar {
//   --ion-background-color: #ffffff;
//   --ion-color-base: #ffffff !important;
// }

// ion-toolbar ion-title {
//   color: #1d1d1d !important;
//   font-weight: 500;
// }

// .w50 {
//   width: 50%;
//   float: left;
//   --padding-start: 10px;
// }
// .w100 {
//   width: 100%;
//   float: left;
//   --padding-start: 10px;
// }

// @media only screen and (max-width: 360px) {
//   ion-label {
//     font-size: 13px !important;
//   }
//   ion-item {
//     --min-height: 40px;
//   }
// }

// @media only screen and (max-width: 320px) {
//   ion-label {
//     font-size: 11px !important;
//   }
//   ion-item {
//     --min-height: 30px;
//     line-height: 15px;
//   }
//   ion-icon {
//     padding: 5px;

//     font-size: 20px;
//   }
// }

.animation{
    width: 50px;
    position: relative;
    margin: 50px auto;
    top: 0;
    height: 50px;
   .item{
        color: #08b15f;
        font-size: 30px;
        position: absolute;
        z-index: 1;
        left: 10px;
        top: 10px;
    }
}
.circle{
    animation: scaleIn 4s infinite cubic-bezier(0.50, 0.50, 0.51, 0.52);
    -webkit-animation: scaleIn 4s infinite cubic-bezier(0.50, 0.50, 0.51, 0.52);
    -moz-animation: scaleIn 4s infinite cubic-bezier(0.50, 0.50, 0.51, 0.52);
    border-radius: 50%;
    background-color: #04dc74;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
}
@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }
ion-item{--min-height:20px;
    ion-label{margin:0}
}
  .cardBtn{margin: 25px -16px -13px;--border-radius: 0 0 10px 10px;}
 