
<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Host Wallet</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <ion-card class="walletcard" mode="md" style="margin-top: 5%;">
    <div class="walleticon"> <img src="../../assets/icon/wallet.png"></div>
    <ion-card-header>
      <ion-card-title class="balance">My Balance</ion-card-title>
      <ion-card-title class="amount"> ₹ {{this.service.userBalance | currency: '':''}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-left">
      <ion-note>{{TodayDate | date}}</ion-note>

    </ion-card-content>
  </ion-card>


  <ion-card mode="md" style="height: 80px;">
    <ion-item lines="none" (click)="withdraw('t')" style="margin-top: 12px;">
      <ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/earning.svg">
      </ion-icon>
      <ion-label >Transfer Money to Charging Wallet</ion-label>
    </ion-item>
    
  </ion-card>


  <ion-card mode="md" style="height: 80px;">
    <ion-item lines="none" (click)="withdraw('w')" style="margin-top: 12px;">
      <ion-icon class="deviceicon" slot="start" color="primary" src="../../assets/icon/earning.svg">
      </ion-icon>
      <ion-label >Withdraw to bank Account</ion-label>
    </ion-item>
    
  </ion-card>


</ion-content>
