<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Get Email</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<ion-item lines="none" class="ion-no-padding" color="transparent">
		<ion-label mode="md" position="stacked" class="inputlbl">Enter Name</ion-label>
		<ion-input [(ngModel)]="name" type="text"></ion-input>
	</ion-item>
	<ion-item lines="none" class="ion-no-padding" color="transparent">
		<ion-label mode="md" position="stacked" class="inputlbl">Email id</ion-label>
		<ion-input [(ngModel)]="email" type="text"></ion-input>
	</ion-item>

	<div class="ion-text-center" style="margin-top: 5%;">
		<ion-button (click)="submit()">
			Submit
		</ion-button>
	</div>

</ion-content>